.white {
  background-color: transparent !important;
  color: #000;
  padding: 16px;
}

.roboto {
  font-family: 'Roboto';
}

.realwhite {
  background-color: white !important;
  margin-left: 16px;
  margin-right: 16px;
}

.gradient {
  background: linear-gradient(120deg,#9C27B0,#E91E63) !important;
}

